@{
    Layout = null;
}
DIGITE O NÚMERO A: <br />
<input type="text" id="numeroA" /><br /><br />
DIGITE O NÚEMRO B: <br />
<input type="text" id="numeroB" /><br /><br />
<button value="1" id="btAdicao">ADIÇÃO</button>&nbsp;
<button value="2" id="btSubtracao">SUBTRAÇÃO</button>&nbsp;
<button value="3" id="btMultiplicacao">MULTIPLICAÇÃO</button>&nbsp;
<button value="4" id="btDivisao">DIVISÃO</button>&nbsp;<br /><br />
<B> <label id="resultado">RESULTADO</label></B>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/App.js"></script>
